/*style sheet for 575 final project*/
.ourmap {
	border: medium solid #999;
	background-color: white;
	/*margin: 10px 0 0 20px;*/
	display: block;
	box-shadow: 2px 2px 1px gray;
	border-radius: 8px;
	position: absolute;
	top:10%;
	left:28%;
	width: 40%;
}

.networks{
	stroke: white;
    stroke-width: 1px;
	stroke-linecap: round;
	/*fill:gray;*/
}

.unitedStates{
	fill: teal;
    stroke: #CCC;
    stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}

.gratBackground {
    fill: lightblue;
}

.map-section{
	position: relative;
	top:-265px;
	text-align: center;
}

.about-section{
	position: absolute;
	width:100%;
	top: 90%;
	text-align:center;
	background-color:#e1e1e1;
	height:60%;
}

.content-section{
	position: absolute;
	width:100%;
	top:150%;
	text-align:center;
	background-color:white;
	height:60%;
}

h3{
	margin-top: 20px;
	position:relative;
	top:100px;
	left:5px;
	font-size: 80px;
}

h1{
	font-family: Verdana, Geneva, sans-serif;
}

#content {
    padding-top:0px;
}

.content{
    padding-left: 20px;
    padding-right: 20px;
}


#custom-bootstrap-menu.navbar-left{
	position: absolute;
    width: 100%;
    left: 3%;
    text-align: left;
}

#custom-bootstrap-menu.navbar-right{
	position: absolute;
    width: 100%;
    left: 85%;
    text-align: left;
}

#custom-bootstrap-menu.navbar-toggle {
    z-index:3;
}

#custom-bootstrap-menu.navbar-custom .navbar-brand {
    color: rgba(119, 119, 119, 1);
	font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
	height: 10%;
}

#custom-bootstrap-menu.navbar-custom{
	font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
	border-bottom-width: 2px;
	border-color: #D3D3D3;
}

#custom-bootstrap-menu.navbar-custom .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(225, 225, 225, 1);
}

#custom-bootstrap-menu.navbar-custom .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-custom .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #BEBEBE;
	border-radius:1px;
}

#custom-bootstrap-menu.navbar-custom .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-custom .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-custom .navbar-nav>.active>a:focus {
    color: white;
    background-color: rgba(204, 204, 204, 1);
}
#custom-bootstrap-menu.navbar-custom .navbar-toggle {
    border-color: #cccccc;
}
#custom-bootstrap-menu.navbar-custom .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-custom .navbar-toggle:focus {
    background-color: #cccccc;
}
#custom-bootstrap-menu.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
#custom-bootstrap-menu.navbar-custom .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-custom .navbar-toggle:focus .icon-bar {
    background-color: #e1e1e1;
}

.icon-bar{
	fill:white;
}

